<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h2
      style="
        color: #1877f2;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
      "
    >
      The total number of users: <%=count%>
    </h2>

    <!-- Anchor Link to All Users Page -->
    <a
      href="http://localhost:8080/user"
      style="
        display: inline-block;
        background-color: #4caf50;
        color: white;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 5px;
        text-decoration: none;
      "
    >
      Return to All Users
    </a>
  </body>
</html>
